@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --veryDarkGrey: 24 23 31;
    --darkGrey: 36 35 44;
    --grey: 128 124 146;
    --almostWhite: 230 229 234;
    --neonGreen: 164 255 175;
    --red: 246 74 74;
    --orange: 251 124 88;
    --yellow: 248 205 101;
  }

  body {
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-weight: 700;
  }

  @layer components {
    .headingL {
      font-size: 32px;
      line-height: 42px;
    }
    .headingM {
      font-size: 24px;
      line-height: 32px;
    }
    .body {
      font-size: 18px;
      line-height: 24px;
    }

    .bodyS {
      font-size: 16px;
      line-height: 21px;
    }

    .gridWrapper {
      @apply grid;
    }

    .gridWrapper > * {
      grid-column: 1/1;
      grid-row: 1/1;
    }
    input[type="checkbox"] {
      appearance: none;
      border: 2px solid #e6e5ea;
      margin-right: 24px;
      height: 18px;
      width: 18px;
    }

    input[type="checkbox"]:checked {
      appearance: none;
      border: 2px solid #a4ffaf;
      background-color: #a4ffaf;
      height: 18px;
      width: 18px;
      position: relative;
      margin-right: 24px;
    }
    input[type="checkbox"]:before {
      content: url(/images/icon-check.svg);
      position: absolute;

      @apply -top-[2px] sm:-top-[5px];
    }

    .checkboxes > span {
      font-size: 18px;
      line-height: 24px;
    }
    input[type="range"] {
      -webkit-appearance: none;
      background-color: transparent;
      @apply rounded-lg relative;
    }

    input[type="range"]::-moz-range-track {
      background-color: transparent;

      @apply h-2 rounded-lg;
    }
    input[type="range"]::-webkit-slider-runnable-track {
      -webkit-appearance: none;

      background-color: transparent;

      @apply h-2 rounded-lg;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;

      background-color: #e6e5ea;

      @apply h-7 w-7 rounded-full -mt-[10px];
    }
  }
  input[type="range"]:active::-webkit-slider-thumb {
    background-color: #18171f;
    border: 2px solid #a4ffaf;
    @apply h-7 w-7 rounded-full;
  }

  input[type="range"]::-moz-range-thumb {
    background-color: #e6e5ea;
    @apply h-7 w-7  rounded-full;
  }
  input[type="range"]:active::-moz-range-thumb {
    background-color: #18171f;
    border: 2px solid #a4ffaf;
    @apply h-7 w-7 rounded-full;
  }
  .strengthBox {
    @apply border-2 h-7 w-[10px];
  }
}
